.workExamples {
  max-width: 1692px;
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: left;
}
.workExamplesBtn {
  display: flex;
  align-items: center;
}
.workExampleImg {
  display: flex;
  justify-content: space-between;
  & img {
    border-radius: 8px;
    box-shadow:   rgba(0, 0, 0, 0.25);
  }
}
.polygon1, .polygon2{
  cursor: pointer;
}


@media screen and  (max-width: 768px) {
  .workExamples {
    max-width: 792px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: left;
    & h1{
      font-size: larger;
      margin-top: 30px;
    }
  }
  .workExamplesBtn {
    display: flex;
    align-items: center;
  }
  .workExampleImg {
    display: flex;
    justify-content: space-between;
    & img {
      height: 190px;
      border-radius: 8px;
      box-shadow:   rgba(0, 0, 0, 0.25);
    }
  }
  .rectangle12{
    display: block;
  }
}

