@mixin grid($cols, $mgn) {
  margin: 0 $mgn $mgn 0;
  width: calc((100% - (($cols - 1) * $mgn)) / $cols);
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}
@mixin transition($x...) {
  transition: $x;
}
